

{{#if products}}
<div class="container">
<h3>Featured</h3>
<div class="row">
    {{#each products}}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="/product/{{this.id}}"><img src="images/{{this.image}}" alt="{{this.name}}" title="{{this.name}}" class="img-responsive" width="200px" height="400px" /></a></div>
      <div class="caption">
        <h4><a href="/product/{{this.product_id}}">{{this.name}}</a></h4>
        
        {{# if this.price}}       
        
        <p class="price">
         
         {{this.price}}
          
        </p>
        
        {{/if}}
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{this.id}}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add cart</span></button>
        <button type="button" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('{{this.id}}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="Compare" onclick="compare.add('{{this.id}}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
{{/if}}